body.theme-light {
    --background: #f1f5f8;
    --background-alt: #000000b0;
    --background-image: url("../img/wallpaper.jpg");
    --background-gradient: linear-gradient(0deg, #cae8ff 0%, #ffffff 90%);
    --border-alt: rgba(0,0,0,0);
    --border: rgba(255, 255, 255, 0.5);
    --border-radius: 8px;
    --text: #ddd; 
    --text-alt: #fff; 
    --button: #1886C4;
    --theme: #c779ce;
    --theme-alt: #06e0d0;
    --link: #1888C4;
    --important: #000;
    --primary: #fff;

    --shadow-color: rgba(0, 0, 0, 0.15);
    --shadow-color-alt: rgba(199, 121, 206, 0.5);
    --shadow: 0 3px 6px var(--shadow-color);
    --shadow-alt: 0 3px 6px var(--shadow-color-alt);
    --blur: blur(10px) brightness(0.75);

    background: var(--background-image);
    background-attachment: fixed;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    height: auto;
    scrollbar-color: unset;

}

@font-face{
	font-family: "mario";
	src: url("SuperMario256.ttf");
}

.logo {
    font-family: "mario";
    width: 100%;
    text-decoration: none;
    color: red;
    text-align: center;
    margin-left: 0;
    text-shadow: 3px 3px black;
    padding: 8px;
    cursor: default;
}

.logo .logo-big {
    font-size: 0.8em;
}

.logo .logo-small {
    font-size: 0.4em;
}

.logo::before, .logo::after {
    content: "";
    display: none;
}

div.content {
    margin-bottom: 0;
    margin-top: 0;
    align-content: space-evenly;
    align-items: center;
}

div.content-wrapper#top-half {
    margin-top: 100px;
}

div.content-wrapper#bottom-half {
    margin-bottom: 30px;
}

div.content-wrapper#bottom-half div.content div.blob {
    max-width: unset;
    padding: 20px;
}


div.header {
    background: var(--background-alt);
    height: 100px;
}

div.blob {
    cursor: default;
    height: -webkit-fill-available;
    align-items: flex-start;
    max-width: 30%;
}

div.blob.mariobox {
    height: min-content;
    max-width: 420px;
}


div.blob.mariobox p {
    text-align: center;
    padding: 0 30px;
}

div.blob > h2.blob-header {
    font-family: "Raleway";
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: auto;
    font-size: 24px;
}

div.blob.sidebar {
    height: calc(100vh - 125px);
}

.blob.wide > .blob-header {
    width: 100%;
}

div.blob > span {
    font-family: "Raleway";
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 5px;
}

div.blob#color-selectors {
    display: block;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
}

div.blob#color-selectors > h2:not(:first-of-type) {
    padding-top: 5px;
    margin-top: 15px;
    border-top: 1px solid var(--border);
}

@media (max-width: 1000px) {
    div.content {
        flex-direction: column;
    }

    div.blob {
        max-width: 100%;
    }
}

.control-group > span {
    font-family: "Inconsolata";
    font-size: 14px;
}

label {
    width: 150px;
    display: inline-block;
    text-align: right;
}

span#type {
    font-size: 14px;
    font-weight: normal;
}

.image-container {
    /* border: 2px solid var(--border); */
    /* border-radius:  var(--border-radius); */
    margin-top: 15px;
    height: 350px;
    position: relative;
    width: 410px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    /* border-radius:  var(--border-radius); */
    height: 100%;
    position: absolute;
    /* transition: 0.1s all; */
}

.button, select {
    background-color: var(--background-alt);
    font-size: 16px;
    margin: 0 5px;
}

select {
    width: 95% !important;
}

input[type=color] {
    width: auto;
    min-width: 50px;
    margin-left: 10px;
}

textarea {
    font-family: "Inconsolata";
    border-radius: var(--border-radius);
    height: 500px;
    max-width: 40%;
    width: auto;
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    text-align: right;
}

textarea#guide {
    border: none;
    background: transparent;
    cursor: default;
    text-align: left;
}

hr {
    width: 100%;
}

.accordion {
    background-color: var(--background-alt);
    border-radius: var(--border-radius);
    color: var(--text);
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    border: 1px solid var(--border);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    position: sticky;
    transition: all 0.1s ease-in;
}

.accordion::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: transparent;
    transition: all 0.1s ease-in;
    z-index: -1;
    border-radius: var(--border-radius);
}

.accordion.open, .accordion.open::before{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.accordion.open::before, .accordion:hover::before {
    width: 100%;
    opacity: 0.5;
    background-color: var(--theme);
}

.accordion:after {
    content: '\002B';
    color: var(--text);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.open:after {
    content: "\2212";  
}

.panel {
    font-family: "Roboto";
    padding: 0 18px;
    border-radius: var(--border-radius);
    background-color: var(--background-alt);
    text-shadow: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: left;
    font-size: 16px;
    border: none;
    width: 100%;
}

.panel.expanded {
    border: 1px solid var(--border);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    max-height: 200px;
}

.foot-text.foot-text-big a {
    color: #b20acb;
    text-decoration: none;
}

.foot-text a {
    color: var(--text);
    text-decoration: none;
}