/*#8955a2
#724c8b
#7103ba
#1b2b34*/
* {
    box-sizing: border-box;
}

x-model{
  width: 100%;
  height: 100%;
}

@font-face{
	font-family: "mario";
	src: url("SuperMario256.ttf");
}

@font-face{
	font-family: "Roboto";
	src: url("../../../css/Roboto-Regular.ttf");
}

body{
	margin: 0;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	transition: 0.5s;
	font-family: "Roboto";
}

hr{
	border-color: #724c8b;
	border-width: 5px;
	border-style: solid;
}

h1{
	margin: 20px;
}
h2{
  margin-top: 0;
  text-decoration: underline;
}
h6{
  margin: 5px;
  font-size: 1em;
}

input{
  width: 50% !important;
}

textarea{
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  height: 250px;
  margin: 10px;
  resize: none;
  font-family: "roboto";
}

.mario{
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  position: relative;
  width: 50%;
  float: none !important;
  margin: 0 !important;
  transition: 0.2s;
}

#yahoo{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-name: blj;
  animation-duration: 0.75s;
  position: absolute;
  visibility: hidden;
}

@keyframes blj{
  0%{ left: 0px; visibility: visible;}
  10%{ left: 5px; visibility: visible;}
  15%{ left: 15px; visibility: visible;}
  20%{ left: 5px; visibility: visible;}
  25%{ left: 15px; visibility: visible;}
  30%{ left: 5px; visibility: visible;}
  35%{ left: 15px; visibility: visible;}
  40%{ left: 5px; visibility: visible;}
  45%{ left: 15px; visibility: visible;}
  50%{ left: 5px; visibility: visible;}
  60%{ left: 30px; visibility: visible;}
  70%{ left: 40px; visibility: visible;}
  80%{ left: 80px; visibility: visible;}
  90%{ left: 150px; visibility: visible;}
  95%{ left: 300px; visibility: visible;}
  100%{ left: 100%; visibility: visible;}
}

.row {
  display: -webkit-flex;
  display: flex;
  margin-left: 0px;  
}
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
   }
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  /*height: 300px;*/
  text-align: center;
  font-family: roboto;
  text-shadow: none;
}

.blob{
  background-color: #ff0000dd;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: white;
  padding: 10px;
  margin: 10px;
  /*width: 30%;*/
  height: 325px;
  font-family: "Roboto";
}

.blab{
  background-color: #ff0000dd;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  border-color: white;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 170px;
  font-family: "Roboto";
  text-shadow: none;
  text-align: center;
}

.blob img{
  float: left;
  margin-right: 30px;
}

.blob button{
  margin: 5px;
}

.container-fluid{
  padding: 20px 30px;
}

.header{
	font-family: "mario";
	font-size: 2em;
	/*color: purple;*/
  text-shadow: 3px 3px black;
	text-align: center;
}

.content{
  align-self: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  font-family: "mario";
  text-shadow: 2px 2px #ffffff;
  color: black;
}

.button2 {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  /*padding: 40px;*/
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  /*margin: auto;*/
  font-family: "roboto";
  overflow: hidden;
  height: 30px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2:hover{
  background-color: white;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.25s;
}

.button2 span:before {
  position: absolute;
  opacity: 0;
  bottom: 0px;
  left: -50px;
  transition: 0.25s;
}

.button2:hover span {
  padding-right: 25px;
  color: red;
}

.button2:hover span:after {
  opacity: 1;
  right: 0px; 
  color: red;
}

.button2:hover span:before {
  opacity: 1;
  left: -30px; 
}

.footerWrapper{
  width: 100%;
  position: absolute;
}

.footButton{
  color: white;
  position: absolute;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;  
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: black;
}

.footButton:hover{
  background-color: red;
  transition: 0.25s;
}


.footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto";
  color: white;
  margin-left: 0px;
  z-index: 10000000;
}